@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        outline: none;
    }
    
    ::-webkit-scrollbar {
        @apply h-2 w-1 cursor-pointer
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-white/50 rounded-md
    }

    html {
        font-family: 'Poppins', 'Roboto', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }

    input {
        @apply outline-none;
    }
}

@layer components {
    .skeleton {
        @apply animate-pulse dark:bg-white/10 bg-black/10 rounded-sm h-4 w-full;
    }
}